body {
  background-color: #1a1a1a;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  padding: center;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}


.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #444444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #15803d;
}

.resultado {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  color: #1e8a42;
}

.container label,
.container input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container input {
  text-align: center; /* mantém o texto do input alinhado à esquerda */
}

.unidade-select {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  justify-content: center;
  font-weight: bold;
  color: #fff;
}

.radio-group input {
  margin-right: 6px;
}

.grafico {
  margin-top: 40px;
  background-color: #1e293b;
  padding: 20px;
  border-radius: 12px;
}

.exportar-btn {
  margin-top: 20px;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.exportar-btn:hover {
  background-color: #1d4ed8;
}

input[type="text"] {
  justify-content: center;
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.radio-group + .grafico {
  margin-top: 20px;
}

.exportar-btn + .exportar-btn {
  margin-top: 10px;
  background-color: #7c3aed;
}

.exportar-btn + .exportar-btn:hover {
  background-color: #6d28d9;
}
